<!DOCTYPE html>
<html>
<head>
	<title>HTML Tp PDF</title>
	<!-- Latest compiled and minified bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style>
		body{
			background-color: rgb(130, 111, 240) 
;
		}

		.card{
			background-color: rgb(248, 244, 244);
			padding: 50px 50px 50px 50px;
			margin:50px;
		}
	</style>
</head>

<body  >
	<div class="container">
		<div class="row">
			<div class="col-md"></div>

			<div class="col-md">
				<div class="card card-body">
					 <div class="text-center"> 
					<h>Hello{{message}}</h>
					<p>  <br> view your e-token as a PDF or Downloading directly.</p>
					<a class="btn btn-info" href="{% url 'pdf_view' %}" target="_blank">View Token</a>
					<a class="btn btn-info"  href="{% url 'pdf_download' %}">Download Token</a>
					</div>
				</div>
			</div>

			<div class="col-md"></div>
		</div>
	</div>


</body>
</html>




